<div id="pwa-popup" style="display: none;">
    <div class="inner-pwa-popup">
        <div class="logo-zone">
            <div class="app-icon">
                <img class="img-fluid" alt="CoupCritique" src="/images/coupcritique-72.png"/>
            </div>
            <span class="brand-text">CoupCritique</span>
        </div>
        <button 
            id="pwa-button" 
            type="button" 
            class="ui button icon orange text-uppercase"
        >
            <i class="icon home"></i>&nbsp;
            Ajouter à l'écran d'accueil
        </button>
        <div class="blank-block">{# only for justify content space between #}</div>
        <i id="pwa-close" class="icon x link grey"></i>
    </div>
</div>