{% extends 'emails/base.html.twig' %}

{% block title %}
	Coup Critique - renouvellement de mot de passe
{% endblock title %}

{% block body %}
	<p>Bonjour {{ username }} !</p>
	<p>Vous avez fait une demande de renouvellement de mot de passe.</p>
	<p>Cliquez ici pour en créer un nouveau :</p>
    <br/>
    <div style="text-align: center">
		{% include 'emails/components/button.html.twig' with { 'href': absolute_url("/resetPassword/" ~ token), 'text': 'Renouveler le mot de passe' } %}
    </div>
	<br/>
	<p><strong>Ce lien n'est valide que sous 24h.</strong></p>
	<p>Si vous ne souhaitez pas changer de mot de passe, merci de ne pas tenir en compte de ce mail.</p>

	<p>À très vite sur CoupCritique !</p>
{% endblock body %}
